<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <!--Twitter Card-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ seo.twitter }}" />
    <meta name="twitter:creator" content="@{{ seo.twitter }}" />
    <meta name="twitter:url" content="{{ seo.baseURL }}{{ page.url }}" />
    <meta name="twitter:image" content="{{ seo.baseURL }}{{ seo.image }}" />

    <!--Schema-->
    <link rel="author" href="{{ seo.baseURL }}" />
    <link rel="publisher" href="{{ seo.baseURL }}" />

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ seo.baseURL }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ seo.title }}" />
    <meta property="og:locale" content="en_AU" />
    <meta property="og:image" content="{{ seo.baseURL }}{{ seo.image }}" />
    <meta property="article:author" content="{{ seo.baseURL }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:title" content="{{ title }} | {{ seo.title }}" />
    <meta name="twitter:description" content="{{ seo.description }}" />

    <!--Schema-->
    <meta itemprop="name" content="{{ title }} | {{ seo.title }}" />
    <meta name="description" content="{{ seo.description }}" />

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{ title }} | {{ seo.title }}" />
    <meta property="og:description" content="{{ seo.description }}" />
    {%- endblock -%}
    <title>{{ title }} | {{ seo.title }}</title>
  </head>
  <body>
    <div><a href="/" class="header-link">The Pitt CSC Blog</a></div>
    <header>
      <div class="page-title">
        <h1>{{ title }}</h1>
      </div>
    </header>
    <main>
      <article>{{ content | safe }}</article>
    </main>
    <footer class="page-footer">
      <a
        href="https://pittcsc.org/"
        aria-label="Main Pitt CSC Website"
        class="footer-link"
      >
        &copy; 2021 Pitt Computer Science Club</a
      >
      <a
        href="https://github.com/GameDog9988/pittcsc-blog/blob/main/CONTRIBUTING.md"
        class="footer-link"
        >Contribute</a
      >
    </footer>
    <script src="{{ '/js/index.js' | url }}" type="module"></script>
  </body>
</html>
