---
layout: base.njk
---

{{ content | safe}}

<footer class="post-footer">
 <p class="author">By {{author}}</p>
 <p>Published on: {{ page.date.toDateString() }}</p>
 <div class="other-posts">
  <p>Other posts</p>
         <ul class="post-list">
          {% for page in collections.pages %} 
            <li>
              <a href={{page.url}} class="post-block">
                <div class="post-title">{{page.data.title}}</div>
                <div class="post-author">By {{page.data.author}}</div>
                <div class="post-date">{{ page.date.toDateString() }}</div>
              </a>
            </li>
          {%- endfor %}
        </ul>
 </div>

 <a href="/" class="back-home">Back home</a>
</footer>