---
layout: base.njk
---

{{ content | safe}}

<footer class="post-footer">
<div class="footer-metadata">
<div>
    <p class="author">By {{author}}</p>
    <p>Published on: {{ page.date.toDateString() }}</p>
  </div>
  <button onclick='registerLike("{{title}}")' class="post-like">&#10084;</button>
</div>

 <div class="other-posts">
  <p>Other posts</p>
         <ul class="post-list">
          {% for post in collections.posts %} 
            <li>
              <a href={{post.url}} class="post-block">
                <div class="post-title">{{post.data.title}}</div>
                <div class="post-author">By {{post.data.author}}</div>
                <div class="post-date">{{ post.date.toDateString() }}</div>
              </a>
            </li>
          {%- endfor %}
        </ul>
 </div>

 <a href="/" class="back-home">Back home</a>
</footer>