---
layout: base.njk
---

{{ content | safe}}

<footer class="post-footer">
<div class="footer-metadata">
  <div>
    <p class="author">By {{author}}</p>
    <p>Published on: {{ page.date.toUTCString().substring(0, 16) }}</p>
  </div>
  {% for like in likes.rows %}
    {% if like.title == title %}
      <p>{{like.likes}}</p>
    {% endif %}
  {% endfor %}
  <button data-title="{{title}}" aria-label="Like the article" type="button"  id="likeButton" class="post-like"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></button>
</div>

 <div class="other-posts">
  <p>Other posts</p>
         <ul class="post-list">
          {% for post in collections.posts %} 
            <li>
              <a href={{post.url}} class="post-block">
                <div class="post-title">{{post.data.title}}</div>
                <div class="post-tag">
                  {% for tag in post.data.tag %}
                    <p class="tag-text {{tag}}">{{tag}}</p>
                  {%- endfor %}
                </div>
                <div class="post-author">By {{post.data.author}}</div>
                <div class="post-date">{{ post.date.toUTCString().substring(0, 16) }}</div>
              </a>
            </li>
          {%- endfor %}
        </ul>
 </div>

 <a href="/" class="back-home">Back home</a>
</footer>