@mixin post-tag {
  display: flex;
  flex-direction: row;

  .tag-text {
    margin-top: 0 !important;
    margin-right: 0.25rem !important;
    padding: 0.25rem 0.5rem;
    color: black;
    background-color: $blue;
    font-size: 1rem;
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .web {
    background-color: $amber;
  }

  .css {
    background-color: $cyan;
  }

  .react {
    background-color: $lime;
  }

  .html {
    background-color: $violet;
  }

  .interview {
    background-color: $rose;
  }

  .game {
    background-color: $fuschia;
  }

  .panther {
    background-color: $green;
  }

  .cyber {
    background-color: $red;
  }

  .robotics {
    background-color: $yellow;
  }

  .algo {
    background-color: $emerald;
  }

  .swift {
    background-color: $orange;
  }

  .math {
    background-color: $teal;
  }

  .rust {
    background-color: $blue;
  }
}

@mixin tag-list {
  display: flex;
  flex-direction: row;

  .tag-text {
    margin-top: 0 !important;
    margin-right: 0.25rem !important;
    padding: 0.25rem 0.5rem;
    color: black;
    background-color: $blue;
    font-size: 1rem;
    display: block;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .web {
    background-color: $amber;
  }

  .css {
    background-color: $cyan;
  }

  .react {
    background-color: $lime;
  }

  .html {
    background-color: $violet;
  }

  .interview {
    background-color: $rose;
  }

  .game {
    background-color: $fuschia;
  }

  .panther {
    background-color: $green;
  }

  .cyber {
    background-color: $red;
  }

  .robotics {
    background-color: $yellow;
  }

  .algo {
    background-color: $emerald;
  }

  .swift {
    background-color: $orange;
  }

  .math {
    background-color: $teal;
  }

  .rust {
    background-color: $blue;
  }
}

@mixin outline-button {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border: 2px solid gainsboro;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
  }
}
