.header-link {
  text-decoration: none;
  color: #222;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
  }
}

.page-title {
  position: relative;
  height: 100%;
  overflow: hidden;
  // padding: 1rem;
  // animation: no-overflow 800ms ease forwards;
  // animation-delay: 800ms;

  h1 {
    padding: 1rem;
    font-size: clamp(2.5rem, 5vw, 5.5rem);
    animation: text-overflow 800ms ease forwards;
    // height: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid $pitt-yellow;
    left: 0rem;
    // animation: text-overflow-accent 800ms ease forwards;
    // animation-delay: 800ms;
  }
}

.page-intro {
  font-size: Max(2vw, 1rem);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .footer-link {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus-visible {
      text-decoration: underline;
    }
  }
}

.tag-list {
  @include tag-list;
}