.post-list {
  list-style-type: none;
  padding: 0;
  text-indent: 0;
  li {
    .post-inner {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: #222;
      line-height: normal;
      background-color: gainsboro;
      padding: 2rem;
      transition: transform 150ms ease;
    }

    .post-block {
      text-decoration: none;
      color: #222;
      line-height: normal;
      background-color: gainsboro;
      display: block;
      padding: 2rem;
      transition: transform 150ms ease;

      .post-title {
        font-weight: bold;
        font-size: 1.5rem;
        text-decoration: underline;
        text-decoration-color: $pitt-yellow;
        color: black;
      }

      .post-tag {
        @include post-tag;
      }

      .post-author {
        font-weight: bold;
      }

      .post-date {
        margin: 0;
      }

      &:hover {
        transform: scale(1.01);
      }
    }
  }
}

.post-title-tag {
  margin-top: 1rem;
  @include post-tag;
}

.post-share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: #222;
  font-size: 2.5rem;
  line-height: normal;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid gainsboro;
  cursor: pointer;
  transition: 0.3s ease;
  background: none;

  &:hover {
    transform: translateY(-4px);
  }
}

.post-like {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-decoration: none;
  color: #222;
  font-size: 2.5rem;
  line-height: normal;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 2px solid gainsboro;
  cursor: pointer;
  transition: 0.3s ease;
  background: none;

  &:hover {
    transform: translateY(-4px);
  }

  svg {
    fill: transparent;
    stroke: #ff2581;
  }
}

.filled-heart svg {
  animation: fill-animation 300ms ease forwards;
}

@keyframes fill-animation {
  0% {
    fill: transparent;
    transform: scale(1);
  }

  50% {
    fill: #ff2581;
    transform: scale(1.1);
  }

  100% {
    fill: #ff2581;
    transform: scale(1);
  }
}

@keyframes text-overflow {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.post-footer {
  margin-top: 4rem;
  .footer-metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .author {
      font-weight: bold;
    }
    .post-footer-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.5rem;
    }
  }

  .other-posts {
    margin-top: 4rem;
    .other-posts-title {
      font-weight: bold;
    }
  }
}

.back-home {
  @include outline-button;
  margin-top: 1rem;
}
