$pitt-dark-blue: #243e8b;
$pitt-light-blue: #4d70d9;
$pitt-yellow: #ffb81c;
$pitt-gold: #cdb87e;

$special-color: #8fbc8b;

$divisor-color: #000000;

// tag colors
$web-dev-tag: #fef3c7;
$css-tag: #cffafe;
$react-tag: #ecfccb;
$html-tag: #ede9fe;
