@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0; }

/* Layout */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  line-height: 1.5;
  color: #222; }

body > * {
  --layout-spacing: Max(8vh, 3rem);
  --max-width: 70ch;
  width: Min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif; }

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem; }
  nav ul li {
    padding: 0.5rem 1rem; }

nav [aria-current="page"] {
  font-weight: bold; }

header,
main,
main > * + * {
  margin-top: var(--layout-spacing); }

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing); }

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676; }

article * + * {
  margin-top: 1em; }

/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2; }

:is(h1, h2) {
  max-width: 40ch; }

:is(h2, h3):not(:first-child) {
  margin-top: 2em; }

a {
  color: navy;
  text-underline-offset: 0.08em; }

a:focus {
  outline: none; }

a:focus-visible {
  outline: 2px solid gainsboro;
  outline-offset: 0.2em; }

/* Media */
article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto; }

@supports (aspect-ratio: 1) {
  article img {
    max-height: unset;
    aspect-ratio: 3/2; } }

/* Supporting Content */
code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em; }

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0; }

/* Custom Styles */
.page-title {
  font-size: Max(5vw, 2.5rem); }

.page-intro {
  font-size: Max(2vw, 1rem); }

.branch-list {
  list-style-type: none;
  padding: 0;
  text-indent: 0; }
  .branch-list li .branch-block {
    text-decoration: none;
    color: #222;
    line-height: normal;
    background-color: gainsboro;
    display: block;
    padding: 2rem;
    transition: transform 150ms ease; }
    .branch-list li .branch-block .branch-title {
      font-weight: bold;
      font-size: 1.5rem; }
    .branch-list li .branch-block .branch-date {
      margin: 0; }
    .branch-list li .branch-block:hover {
      transform: scale(1.01); }

.post-list {
  list-style-type: none;
  padding: 0;
  text-indent: 0; }
  .post-list li .post-inner {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #222;
    line-height: normal;
    background-color: gainsboro;
    padding: 2rem;
    transition: transform 150ms ease; }
  .post-list li .post-block {
    width: 80%;
    text-decoration: none;
    color: #222;
    line-height: normal;
    background-color: gainsboro;
    display: block;
    padding: 2rem;
    transition: transform 150ms ease; }
    .post-list li .post-block .post-title {
      font-weight: bold;
      font-size: 1.5rem; }
    .post-list li .post-block .post-date {
      margin: 0; }
    .post-list li .post-block:hover {
      transform: scale(1.01); }

.post-like {
  margin: auto; }

.branch-link {
  text-decoration: none;
  color: #222; }

.back-home {
  display: inline-block;
  text-decoration: none;
  color: #222;
  padding: 0.5rem 1rem;
  border: 2px solid gainsboro; }

.branch-footer {
  margin-top: 4rem; }
  .branch-footer .author {
    font-weight: bold; }
  .branch-footer .other-posts {
    margin-top: 4rem; }
    .branch-footer .other-posts p {
      font-weight: bold; }
