---
title: The Pitt CSC Blog
pagination:
  data: collections.posts
  size: 3
  alias: posts
  reverse: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <!--Twitter Card-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ seo.twitter }}" />
    <meta name="twitter:creator" content="@{{ seo.twitter }}" />
    <meta name="twitter:url" content="{{ seo.baseURL }}{{ page.url }}" />
    <meta name="twitter:image" content="{{ seo.image }}" />

    <!--Schema-->
    <link rel="author" href="{{ seo.baseURL }}" />
    <link rel="publisher" href="{{ seo.baseURL }}" />

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ seo.baseURL }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ seo.title }}" />
    <meta property="og:locale" content="en" />
    <meta property="og:image" content="{{ seo.image }}" />
    <meta property="article:author" content="{{ seo.baseURL }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

    {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ seo.description }}" />

    <!--Schema-->
    <meta itemprop="name" content="{{ title }}" />
    <meta name="description" content="{{ seo.description }}" />

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ seo.description }}" />
    {%- endblock -%}
    <title>The Pitt CSC Blog</title>
  </head>
  <body>
    <div>
      {#
      <a href="https://pittcsc.org/" class="branch-link">Go to Main Site</a> #}
    </div>
    <header>
      <div class="page-title">
        <h1>Pitt CSC Blog</h1>
      </div>
    </header>
    <main>
    {# START NEW CODE #}
      <article>
        <h2>Navigate</h2>
        {# <a href="/search" class="view-all-link">Search Blog</a> #}
        <div class="tag-list">
                {% for tag in collections.tagList %} {% set tagUrl
                %}/tags/{{ tag | slug }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag-text {{ tag }}">{{
                  tag
                }}</a>
                  {% if loop.index % 6 == 0 %}
                    </div><div class="line-break"><br /></div><div class="tag-list">
                  {% endif %}
                {% endfor %}
              </div>
      </article>
    {# END NEW CODE #}
      <article>
        <h2 class="subheading">Featured Posts</h2>
        <ul class="post-list">
          {% for post in posts %}
          <li>
            <div class="post-block">
              <a href="{{ post.url }}" class="post-title">{{
                post.data.title
              }}</a>
              <div class="post-tag">
                {% for tag in post.data.tags | filterTagList %} {% set tagUrl
                %}/tags/{{ tag | slug }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag-text {{ tag }}">{{
                  tag
                }}</a>
                {% endfor %}
              </div>
              <div class="post-author">By {{ post.data.author }}</div>
              <div class="post-date">
                {{ post.date.toUTCString().substring(0, 16) }}
              </div>
            </div>
          </li>
          {%- endfor %}
        </ul>
        <a href="/post-list" class="view-all-link">View All Posts</a>
      </article>
    </main>
    <footer class="page-footer">
      <a
        href="https://pittcsc.org/"
        aria-label="Main Pitt CSC Website"
        class="footer-link"
      >
        &copy; 2021 Pitt Computer Science Club</a
      >
      <a
        href="https://github.com/GameDog9988/pittcsc-blog/blob/main/CONTRIBUTING.md"
        class="footer-link"
        >Contribute</a
      >
    </footer>
  </body>
</html>
